#container{
	/*overflow: auto;*/
}
#emptySpace {
	height: 60px;
}
/* 하단 재생바 배경 */
#playerBackground {
	border-top: 1px solid lightgray;
	min-width: 1240px;
	width: 100%;
	text-align: center;
	height: 60px;
	position: fixed;
	bottom: 0px;
	background-color: rgb(242, 242, 242);
	z-index: 999;
	/*overflow: hidden;*/
}
/*---------- 트랙 -----------*/
input[type="range"] {
  position: relative;
  -webkit-appearance: none;
  width: 500px;
  margin: 0;
  padding: 0;
  height: 19px;
  /*margin: 30px 2.5% 20px 2.5%;*/
  outline: none;
  /* 배경색 주변색으로 */
  background-color: transparent;
}
/* 남아있는 트랙 색 */
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  background: linear-gradient(to right, rgba(0, 125, 181, 0.6), rgba(0, 125, 181, 0.2));
}
/* 진행된 트랙 색 */
input[type="range"]::before {
  position: absolute;
  content: "";
  top: 8px;
  left: 0;
  width: var(--seek-before-width);
  height: 3px;
  background-color: #007db5;
  cursor: pointer;
}
/* 볼륨은 따로 변수로 설정 */
input[type="range"]#volume-slider::before {
	width: var(--volume-before-width);
}

input[type="range"]#volume-slider {
	transform: rotate(270deg);
	width: 100px;
}


/* 동그란거 */
input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  box-sizing: content-box;
  border: 1px solid #007db5;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  margin: -4px 0 0 0;
}
/* 동그란거 눌렸을 때 */
input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: #007db5;
}

/* 현재 재생 시간 크기 고정 */
#current-time, #duration {
	display: inline-block;
	width: 50px;
}

/* -------- 버튼들 -------- */
#audio-player-container {
	width: 1240px;
	height: 40px;
	display: inline-block;
}
.playerInnerContainer {
	position: relative;
	float: left;
	margin-bottom: 10px;
}
#playBtsContainer {
	position: relative;
	top: 15px;
	padding-left: 30px;
}
#trackContainer {
	position: relative;
	padding-left: 20px;
	top: 20px;
	float: left;
}
.time {
	position: relative;
	bottom: 3px;
	padding: 0 5px;
	margin-bottom: -3px;
}
#volumeContainer {
	position: relative;
	width: 40px;
	height: 170px;
	float: left;
	bottom: 120px;
	margin-bottom: -120px;
	margin-left: 15px;
	margin-right: 20px;
	z-index: 111;
}

#volume-slide-container {
	display: inline-block;
	position: relative;
	/*bottom: 130px;
	left: 35px;*/
	background-color: rgb(236, 236, 236);
	width: 40px;
	height: 120px;
	border-radius: 50px;
	margin-bottom: -130px;
	visibility: hidden;
}
#volume-slider{
	position: relative;
	right: 30px;
	top: 50px;
}
#mute-icon{
	overflow: hidden;
	margin-top: 110px;
	margin-left: 5px;
}

img.playerBtn {
	cursor: pointer;
	width: 30px;
}
img#play-icon {
	margin-left: 4px;
}
img#playList-icon {
	float: right;
	margin-right: 30px;
	margin-top: 12px;
	width: 35px;
}
img#like-icon{
	float: right;
	margin-right: 35px;
	margin-top: 17px;
	width: 25px;
}

/* 재생중인 음악 */
#nowPlayContainer {
	width: 250px;
	height: 40px;
	margin-top: 12px;
	float: left;
	display: flex;
	align-items: center;
}

.musicPictureContainer {
	border-radius: 3px;
	width: 40px;
	height: 40px;
	float: left;
	overflow: hidden;
}
.musicPicture-small {
	width: 40px;
	height: 40px;
}
.titleContainer {
	flex-grow: 1;
	height: 100%;
	width: 200px;
	margin-left: 0px;
}
.artist-small {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
    cursor: pointer;
    width: 200px;
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    color: rgb(166, 166, 166);
    text-align: left;
}

.musicTitleContainer {
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: normal;
    cursor: pointer;
    width: 200px;
    display: inline-block;
    color: rgb(101, 101, 101);
    text-align: left;
}
.artist-small:hover, .musicTitleContainer:hover {
	color: black;
}

*.btn {
	cursor: pointer;
}

/* 플레이 리스트 */
#playList {
	border: 1px solid black;
	
	background-color: white;
	
	position: absolute;
	bottom: 65px;
    right: 8px;
	
	height: 660px;
	width: 480px;
	
	overflow: scroll;
	overflow-x: hidden;
}
#playList .music .musicInfo {
	width: 440px;
	height: 40px;
	padding: 12px 12px 12px 20px;
	margin: 0;
	display: flex;
}
#playList .music .artist-small {
	width: 300px;
}
#playList .music .musicTitleContainer {
	width: 300px;
}
#playList .music .titleContainer {
	flex-grow: 0;
	margin-left: 10px;
}

#playListTop h3 {
	float: left;
	margin: 20px 20px;
}
#playListTop img#closeBtn {
	float: right;
	width: 30px;
	margin: 20px 20px;
}
#playList img.playingImg {
	width: 30px;
	height: 30px;
	position: relative;
	margin: 5px auto;
}
#playList .playingImgContainer {
	width: 40px;
	height: 40px;
	position: absolute;
	cursor: pointer;
	
	background-color: rgba(115, 115, 115, 0.7);
}
#playListMain .playListMenuContainer {
	margin-left: 80px;
}
#playListMain .playListMenuContainer img.playListLike {
	width: 30px;
	height: 30px;
	margin-top: 5px;
}
#playListMain .playListMenuContainer img.playListDelete {
	width: 30px;
	height: 30px;
	margin-top: 5px;
	margin-left: 10px;
}